.home {
    height: calc(100vh -  160px);
    background: var(--main-bg-color);

    main {
        height: calc(100% - 64px);
        position: relative;
        background: var(--secondary-bg-color);

        .show-list {
            position: absolute;
            z-index: 9;
            top: 40%;
            transition: all .3s;
        }

        .left-btn,
        .right-btn {
            background: var(--main-bg-color);
            color: var(--button-text-color);
            border: 1px;
        }

        .left-btn {
            margin-left: 200px;
            border-radius: 0 50% 50% 0;
            padding: 9px 4px 9px 2px;
        }

        .right-btn {
            right: 0;
            margin-right: 288px;
            border-radius: 50% 0 0 50%;
            padding: 9px 2px 9px 4px;
        }

        .left,
        .right {
            position: absolute;
            height: 100%;
            top: 0;
            transition: all .3s;
            background: var(--main-bg-color);
            color: var(--text-color);
        }

        .left {
            width: 200px;
            left: 0;

            .real-time-component-list .list:hover {
                color: var(--text-color);
            }

            .real-time-component-list .actived.list {
                color: var(--actived-text-color);
                background-color: var(--actived-bg-color);
            }

            .real-time-component-list .list {
                color: var(--text-color);
            }

            &>div {
                overflow: auto;

                &:first-child {
                    border-bottom: 1px solid var(--border-color);
                }
            }
        }

        .center {
            margin: 0 288px 0 200px;
            background: var(--secondary-bg-color);
            height: 100%;
            overflow: auto;
            padding: 20px;
            transition: all .3s;
        }

        .placeholder {
            text-align: center;
            color: var(--placeholder-text-color);
        }

        .left.inactive {
            width: 10px;
            overflow: hidden;

            div {
                opacity: 0;
            }
        }

        .left.inactive~.center,
        .left.inactive~.btn.left-btn {
            margin-left: 10px;
        }

        .right {
            position: absolute;
            height: 100%;
            width: 288px;
            right: 0;
            top: 0;
            transition: all .3s;
            background-color: var(--main-bg-color);

            .el-select {
                width: 100%;
            }

            .el-form-item__label {
                color: var(--text-color);
            }

            .el-tabs__item.is-top {
                color: var(--text-color);

                &.is-active {
                    color: var(--actived-text-color);
                }
            }

            .el-input__inner {
                background-color: var(--placeholder-bg-color);
                color: var(--text-color);
                border-color: var(--border-color);
            }

            textarea.el-textarea__inner {
                background-color: var(--placeholder-bg-color);
                color: var(--text-color);
            }

            .el-select-dropdown__item {
                color: var(--text-color);
            }

            .linkage-container .linkage-component {
                border-color: var(--border-color);

                .div-guanbi {
                    color: var(--border-color);
                    border-color: var(--border-color);
                }
            }
        }

        .right.inactive {
            width: 10px;
            overflow: hidden;

            div {
                opacity: 0;
            }
        }

        .right.inactive~.btn.right-btn {
            margin-right: 10px;
        }

        .center {
            margin-left: 200px;
            margin-right: 288px;
            background: var(--secondary-bg-color);
            height: 100%;
            overflow: auto;
            padding: 20px;
            transition: all .3s;

            .content {
                width: 100%;
                height: 100%;
                overflow: auto;
            }
        }
    }

    .placeholder {
        text-align: center;
        color: var(--placeholder-text-color);
    }

    .global-attr {
        padding: 10px;
    }

    .el-collapse {
        border-color: var(--border-color);
    }

    .el-collapse-item__header,
    .el-collapse-item__wrap {
        border-color: var(--border-color);
        background-color: var(--main-bg-color);
        color: var(--text-color);
    }

    .el-collapse-item__header.is-active {
        border-bottom-color: transparent !important;
    }

    .el-tabs__item {
        color: var(--text-color);
    }

    .animation-list {
        .el-tabs.el-tabs--top {
            background-color: var(--main-bg-color);
        }

        .el-scrollbar__view {
            margin-top: 30px;
        }
    }

    .ace {
        background: var(--ace-bg-color);
        border-color: var(--main-bg-color);

        .ace_editor,
        .ace_gutter {
            background-color: var(--main-bg-color);
            color: var(--text-color);
        }
    }
}


